registry=https://igloo-555393537168.d.codeartifact.eu-west-1.amazonaws.com/npm/igloo_js_artifacts/
//igloo-555393537168.d.codeartifact.eu-west-1.amazonaws.com/npm/igloo_js_artifacts/:always-auth=true
//igloo-555393537168.d.codeartifact.eu-west-1.amazonaws.com/npm/igloo_js_artifacts/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
